@charset "UTF-8";
div.one-third {
  width: 47.5%;
}

div.one-third-second {
  margin: 0;
}

div.one-third-last {
  clear: both;
  float: none;
  width: auto;
  padding: 20px 0 0 0;
}

div.nav ul li {
  width: 25%;
  border-bottom: 1px solid #bab;
}

@media screen and (max-width: 620px) {
  div.nav ul li {
    width: 33.3%;
  }
}

@media screen and (max-width: 500px) {

div.nav ul li {
  width: 50%;
  font-size: 87%;
  display: block;
}

  div.mobile-collapse {
    width: auto;
    float: none;
    margin-right: 0;
  }
  .hide-mobile {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .menu-button {
    display: block;
    background-color: rgb(201, 189, 251);
    height: 20px;
    text-align: -webkit-right;
    padding: 8px 26px 4px 0;
  }

  div.nav ul li{
    float: none;
    display: none;
    width: 100%;
  }

  div.nav ul li:last-child {
    border-bottom: none;
  }
}